<!DOCTYPE html>
<html>
<head>
  <title>Query</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
  	html,body{
  		height: 100%;
  	}
  </style>
</head>
<body style="background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/11/Backgrounds-HD-Farming-Download.jpg);background-repeat: no-repeat;background-size: cover;">

<div class="container">
	<div style="text-align: center;">
		<form method="post" action="/<%=id%>/query">
			<input style="width: 800px;height: 50px;margin-top: 15%;border-radius: 10px;opacity: 0.9;" type="text" name="query" placeholder="Enter Query"><br><br>
			<button class="btn btn-md btn-primary">Register</button>
		</form>	
	</div> 	
</div>

</body>
</html>
