<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">
	


	<script type='text/javascript'>
	var imageID=0;
	function changeimage(every_seconds){
    if(!imageID){
        document.body.style.backgroundImage="url('https://images.unsplash.com/photo-1533062618053-d51e617307ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')";
        imageID++;
    }
    else{if(imageID==1){
        document.body.style.backgroundImage="url('https://images.unsplash.com/photo-1500282467676-780ee66f8992?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1034&q=80')";
        imageID++;
    }else{if(imageID==2){
        document.body.style.backgroundImage="url('https://images.unsplash.com/photo-1535048637252-3a8c40fa2172?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80')";
        imageID=0;
    }}}
    setTimeout("changeimage("+every_seconds+")",((every_seconds)*1000));
}


</script>


<style type="text/css">
	body, html {
  height: 100%;
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }

</style>


</head>


<body style='background-image:url(https://images.unsplash.com/photo-1535048637252-3a8c40fa2172?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80);background-repeat: no-repeat;background-size: cover;background-position: center;height: 100%;' onload='changeimage(4)'>
    <div class="container">
    	<div class="jumbotron" style="background-color: #d2f6f7; opacity: 0.8; margin-top: 20%;text-align: center;">
        	<h1 style="font-family:'Baloo Thambi', cursive; ">
            	SAMADHAAN
        	</h1>
        	<a href="signup.html">
        		<button type="button" class="btn btn-primary btn-md" style="opacity: 1;">
          			<span class="glyphicon glyphicon-user"></span> Signup 
        		</button>
    		</a>
    		<a href="login.html">
        		<button type="button" class="btn btn-primary btn-md" style="opacity: 1;">
          			<span class="glyphicon glyphicon-user"></span> Login 
        		</button>
        	</a>
        	<a href="signup.html">
        		<button type="button" class="btn btn-primary btn-md" style="opacity: 1;">
          			<span class="glyphicon glyphicon-user"></span> About 
        		</button>
    		</a>
    	</div>
    </div>

   
	
</body>
</html>